@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas accordion-group" id="sidebar" role="navigation">
        @Html.Partial("_sidebar")
    </div>
    <div class="col-md-9" role="main">

    </div>
</div>

@section scripts {
    <script type="text/javascript">

    </script>
}
