@model IEnumerable<Subject>
@{
    ViewBag.Title = "ChoiceSubject";
    Layout = "~/Views/Shared/_site-layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var subject in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@subject.Name</h3>
                        <p>@subject.Description</p>
                        <p>@Html.ActionLink("进入", "Dashboard", new { subjectId = subject.SubjectId })</p>
                    </div>
                </div>
            </div>
        }
        
        @if (!Model.Any())
        {
            <p>没有课程可供选择</p>
        }
    </div>
</div>
