@model IEnumerable<Subject>
@{
    ViewBag.Title = "Subject Selection";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var subject in Model) {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@subject.Name</h3>
                        <p><a href="@Url.Action("List", new {subjectId = subject.SubjectId})">进入</a></p>
                    </div>
                </div>
            </div>
        }

        @if (!Model.Any()) {
            <p>没有主题可供选择</p>
        }
    </div>
</div>