@model Question

@{
    ViewBag.Title = "CreateQuestion";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">新建试题</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(new { subjectKey = ViewBag.subjectKey })) {
            @Html.AntiForgeryToken()
            if (ViewBag.QuestionForm == QuestionForm.SingleSelection) {
                @Html.Partial("_singleSelectionPartial", new Question {QuestionForm = ViewBag.QuestionForm})
            }

            if (ViewBag.QuestionForm == QuestionForm.MultipleSelection) {
                @Html.Partial("_multipleSelectionPartial", new Question {QuestionForm = ViewBag.QuestionForm})
            }

            if (ViewBag.QuestionForm == QuestionForm.Subjective) {
                @Html.Partial("_subjectivePartial", new Question {QuestionForm = ViewBag.QuestionForm})
            }
        }
    </div>
</div>

@section page_script {
    <script>
        var optionCount = 1;

        function AddNewOption() {
            var container = $(".question-option");
            optionCount += 1;
            var html =
                '<div class="input-group">' +
                    '    <span class="input-group-addon">' +
                    '        <input id="QuestionOptions_' + optionCount + '__IsRightAnswer" name="QuestionOptions[' + optionCount + '].IsRightAnswer" type="checkbox" value="true">' +
                    '        <input name="QuestionOptions[' + optionCount + '].IsRightAnswer" type="hidden" value="false">' +
                    '    </span>' +
                    '    <input class="form-control" id="QuestionOptions_' + optionCount + '__Description" name="QuestionOptions[' + optionCount + '].Description" type="text" value="">' +
                    '</div>';
            var option = $(html);
            container.append(option);
        }
    </script>
}
