@model double

@if (Model < 0.3) {
    <span class="label label-default">@Model</span>
} else if (Model < 0.7) {
    <span class="label label-success">@Model</span>
} else if (Model < 0.9) {
    <span class="label label-warning">@Model</span>
} else {
    <span class="label label-danger">@Model</span>
}