
@{
    ViewBag.Title = "Index";
}

<h2>选择试卷生成方式</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>随机抽选试题</h3>
                    <p>将随机从模拟考试题库中抽选试题生成试卷</p>
                    <p>@Html.ActionLink("开始", "StartNew", new {style = "Random"})</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>简单试卷生成</h3>
                    <p>采用更为合理的算法自成试卷</p>
                    <p>@Html.ActionLink("开始", "StartNew", new {style = "Simple"})</p>
                </div>
            </div>
        </div>
    </div>
</div>