@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row">
    <div class="col-xs-6 col-sm-3" id="sidebar" role="navigation">
        @Html.Partial("_sidebar")
    </div>
    <div class="col-md-9" role="main">
        @RenderBody()
    </div>
</div>