@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_site-layout.cshtml";
}

@section notification_area {
    @if (ViewData.ModelState.Count > 0) {
        <div class="alert alert-danger">@Html.ValidationSummary(true) </div>
    }
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改帐户</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_ChangePasswordPartial")
            </div>
        </div>
    </div>
</div>