@{
    ViewBag.Title = "Manage Account";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改帐户</h3>
            </div>
            <div class="panel-body">
                @Html.Partial("_ChangePasswordPartial")
            </div>
        </div>
        @if (ViewData.ModelState.Count > 0) {
            <div class="alert alert-danger">@Html.ValidationSummary(true) </div>
        }
    </div>
</div>