<div class="list-group">
    <a href="#" class="list-group-item active">
        <i class="icon-dashboard"></i> Dashboard
    </a>

    <a href="#" class="list-group-item" data-parent="#sidebar" data-toggle="collapse" data-target="#question-management">
        题库管理
    </a>
    <div id="question-management" class="collapse">
        <a href="#" class="list-group-item sub-item">
            Users
            <span class="badge bg_danger">0</span>
        </a>
        <a href="#" class="list-group-item sub-item">
            <i class="icon-caret-right"></i> Create User
            <span class="badge bg_danger">0</span>
        </a>
        <a href="#" class="list-group-item sub-item">
            <i class="icon-caret-right"></i> Create Group
            <span class="badge bg_danger">0</span>
        </a>
    </div>

    <a href="#" class="list-group-item">试卷管理</a>
    <a href="#" class="list-group-item">手动阅卷</a>
</div>

