@model IEnumerable<Course>
@{
    ViewBag.Title = "Dashboard";
}

<h1>我的课程</h1>
<div class="container-fluid">
    <div class="row">
        @foreach (var course in Model) {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@course.CourseName</h3>
                        <p>@course.Description</p>
                        <p>@Html.ActionLink("进入", "Index", "Dashboard", new { courseName = course.CourseId })</p>
                    </div>
                </div>
            </div>
        }

        @if (!Model.Any()) { <p>没有课程可供选择</p> }
    </div>
</div>

<a href="@Url.Action("Subscribe")" class ="btn btn-primary">订阅新课程</a>
